html{
    background-color: gray;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.box{
    height: 500px;
    width: 450px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.circle{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #8a2be2;

}
.square {
    height: 100px;
    width: 100px;
    background-color: #8a2be2;
}